[Desktop Entry]
Version=1.0
Type=Application
Name=Mousepad
Comment=Simple text editor
Exec=mousepad %f
Icon=accessories-text-editor
Terminal=false
Categories=Utility;TextEditor;
StartupNotify=true
